rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    function isAdmin() {
      return isAuthenticated() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.admin == true;
    }

    function isReadOnlyOthers() {
      return isAuthenticated() &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.readOnlyOthers == true;
    }

    function isOwnUser(uid) {
      return isAuthenticated() && request.auth.uid == uid;
    }

    match /users/{uid} {
      allow read: if isOwnUser(uid) || isAdmin();
      allow create: if isOwnUser(uid)
                    && request.resource.data.admin == false
                    && request.resource.data.readOnlyOthers == false;
      allow update, delete: if isAdmin();
    }

    match /characters/{characterId} {
      allow read: if isAdmin() || isReadOnlyOthers()
                     || (isAuthenticated() && resource.data.email == request.auth.token.email);
      allow write: if isAdmin();
    }
  }
}
